[submodule "mps2_template/Generic_MCU_Software_Infrastructure"]
	path = mps2_template/Generic_MCU_Software_Infrastructure
	url = https://github.com/GorgonMeducer/Generic_MCU_Software_Infrastructure.git
